<h1 class="heading-large">What happens next?</h1>

<h2 class="heading-medium">Integrate your code into your service</h2>
<p>Visit the <a href="https://registers-docs.cloudapps.digital/#technical-user-documentation-for-registers">technical user documentation pages</a> for instruction on how to integrate your component into your service.</p>
