<h1 class="heading-large">Congratulations!</h1>

<h2>Your register is now live and available at:</h2>
<%= link_to('http://localhost:3000', 'http://localhost:3000') %>

<div>
  <h3>Share with your colleagues</h3>
  <div class="button">Slack</div>
  <div class="button">LinkedIn</div>
</div>

<div>
  <h3>Use this register in your service</h3>
  <a class="button" href="#" role="button">Start now</a>
</div>