<!--<div class="column-two-thirds">-->

  <h1 class="heading-xlarge">Create your own temporary register</h1>

  <p>This service lets you explore your own data through the registers model. You will be able to:</p>
  <ul class="list list-bullet">
    <li>Upload your own data.</li>
    <li>Use existing fields in your register and link to existing registers.</li>
    <li>Create new fields specific to your subject area.</li>
    <li>Mock up a register for your data and share it with colleagues, or even use it in a prototype service.</li>
  </ul>

  <p>You will need:</p>
  <ul class="list list-bullet">
    <li>A single dataset in csv or tsv format.</li>
  </ul>

  <p>
    <a class="button button-start" href="/temporary_register/register_name" role="button">Start now</a>
  </p>

<!--</div>-->