<%= link_to('Back', 'linked_registers', { class: 'link-back' }) %>

<h1 class="heading-large">Create your own temporary register</h1>

<h2>5. Upload your data</h2>

<%= form_tag("/temporary_register/save_upload_data", method: ":post") do %>
    <div class="form-group">
      <%= file_field_tag :register_data %>
    </div>

    <p>Your file must</p>
    <li> be of type .xlsx, .xls or Open Document </li>
    <li> have field names and types which exactly match those specified for this register </li>
    <li>contain data which matches the types specified for that field</li>

    <div class="form-group">
      <%= submit_tag "Continue", {class: "button"} %>
    </div>

<% end %>
