<%= link_to('Back', 'linked_registers', { class: 'link-back' }) %>

<h1 class="heading-large">Create your own temporary register</h1>

<h2 class="heading-medium">6. Upload your data</h2>

<%= form_tag("/temporary_register/save_upload_data", multipart: true, method: ":post") do %>
    <div class="form-group">
      <%= file_field_tag :register_data %>
    </div>

    <p>Your file must</p>
    <ul class="list list-bullet">
      <li>Be a single dataset in csv or tsv format.</li>
      <li>Have field names and types which exactly match those specified for this register.</li>
      <li>Contain data that matches the data type specified for that field.</li>
    </ul>

    <div class="form-group">
      <%= submit_tag "Continue", {class: "button"} %>
    </div>

<% end %>
