@import 'govuk-elements';
@import "font-awesome-sprockets";
@import "font-awesome";

.container {
  @extend %site-width-container;
  padding-bottom: 60px;
}

.form-download a {
  display: block;
  font-weight: 600;
  min-height: 2.5em;
  padding: 0 0 0 2.5em;
  background-image: url(https://assets.publishing.service.gov.uk/static/icon-file-download-2x-dea512aab23300d178acab4899f5adb892ea1f2f458cd6f3c3b6817698e84999.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 25px 25px;
}

h2, h3 {
  margin: 10px auto;
}

h3 {
  font-weight: bold;
}

p.heading {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
}

.clear {
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
}

.multiple-choice-container, .field-item, .register-item {
  margin: 10px auto;
  padding: 10px;
  background-color: #eee;
}

.multiple-choice-container .multiple-choice {
  margin-bottom: 10px;
}

.multiple-choice-container p, .field-item p, .register-item p {
  clear: left;
  margin-top: 10px;
  margin-bottom: 0;
}

.radio-choice-container {
  .multiple-choice {
    float: none;

    label {
      float: none;
    }
  }

  p {
    word-break: break-all;
  }
}

.field-item, .register-item {
  float: left;
  margin-right: 10px;
}

.button-container {

}

.button-container .button {
  display: block;
  margin: auto;
}

.summary-list {
  dt {
    font-weight: bold;
    margin-top: 10px;
  }
  dd {
    margin-bottom: 10px;
  }
}

.multiple-choice i {
  position: absolute;
  left: 0;
  top: 0;
}